* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: #c9d6ff;
  background: linear-gradient(to bottom, #ffffff, #f3f3f3);
  height: 100%;
  width: 100%;
}

body {
  color: $text-color-primary;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}
